@page "/"


<center>

    <div class="mt-4">
        @foreach (var row in puzzle.AllSquares)
        {

            <div @onkeyup=TriggerKeypress>

                @foreach (var sq in row)
                {
                    <button type="button" class="input-button btn @(GetInputClass(sq))" @onclick=@(() => Select(sq))>@sq.Value</button>
                }

            </div>
        }
    </div>

    <button type="button" class="mt-4 btn btn-primary btn-lg" @onclick=Solve>Solve</button>
</center>
